@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<span class="contact100-form-title">
    این صفحه وجود ندارد!
</span>

<div class="container-contact100-form-btn">
    <div class="wrap-contact100-form-btn">
        <div class="contact100-form-bgbtn"></div>
        <a asp-page="./Index" class="contact100-form-btn">
            <span>
                کوتاه کردن لینک جدید
            </span>
        </a>
    </div>
</div>
