@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form class="contact100-form validate-form" method="post">
    <span class="contact100-form-title">
        کوتاه کننده لینک
    </span>

    <div class="wrap-input100 validate-input" data-validate="این فیلد نمی‌تواند خالی باشد">
        <input class="input100 text-center" asp-for="@Model.page.Link" placeholder="https://www.google.com">
        <span class="focus-input100"></span>
    </div>
    <span class="text-center" asp-validation-for="@Model.page.Link"></span>
    <br />
    <div class="container-contact100-form-btn">
        <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn"></div>
            <button class="contact100-form-btn" type="submit">
                <span>
                    تبدیل به لینک کوتاه
                </span>
            </button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
