@page
@model ShortLink.Pages.ViewModel
@{
}


<span class="contact100-form-title">
    لینک کوتاه شده
</span>
<div class="text-center">
    <span><a href="ex">Ex.</a></span>
    <span><i class="fa fa-link"></i></span>
</div>
<br />
<br />
<div class="container-contact100-form-btn">
    <div class="wrap-contact100-form-btn">
        <div class="contact100-form-bgbtn"></div>
        <button class="contact100-form-btn">
            <span>
                کوتاه کردن لینک جدید
            </span>
        </button>
    </div>
</div>
