@page "{id?}"
@model ShortLink.Pages.ViewModel
@{
}


<span class="contact100-form-title">
    لینک کوتاه شده
</span>
<div class="text-center">
    <span><a target="_blank" href="@(HttpContext.Request.Host + "/p/" + Model.page.ShortKey)">@(HttpContext.Request.Host + "/p/" + Model.page.ShortKey)</a></span>
    <span><i class="fa fa-link"></i></span>
</div>
<br />
<div class="text-center">
    <span>آدرس مقصد:</span>
    <br />
    <span>@Model.page.Link</span>
</div>
<br />
<br />
<div class="container-contact100-form-btn">
    <div class="wrap-contact100-form-btn">
        <div class="contact100-form-bgbtn"></div>
        <a asp-page="./Index" class="contact100-form-btn">
            <span>
                کوتاه کردن لینک جدید
            </span>
        </a>
    </div>
</div>
