@page "{id?}"
@model ShortLink.Pages.p.IndexModel
@{
}

<div dir="rtl" style="text-align:right">
    <h4>
        مرورگر شما پشتیبانی نمی‌شود
    </h4>
    <br />
    <h4 style="line-height:1.5em">
        لطفا لینک ارسال شده را با یکی از مرورگر های زیر باز کنید:
        <br />
        Chrome - Firefox - Safari
    </h4>
</div>

